---
title: Broadcasts
---
        <h1>EBible Fellowship Broadcasting Information</h1>
        
<p><em>EBible Fellowship</em> maintains several
 <a href="/join/paltalk/">PalTalk chat rooms</a> into 
 which we broadcast various live and prerecorded programming. 
 For some of these PalTalk rooms, there is also corresponding MP3
 and Ogg Vorbis streams as an alternative way to listen.</p>
        
<p><strong>As of 15-May-2011, all stream URL's have changed to offload streaming
  from the web server.  Just replace the "www" with "audiocast" to update
  bookmarks in your player.  Otherwise, just click on the appropriate
  link below.</strong></p>

<div class="contentbar-top"></div>
<div class="contentbar-mid">

  <h2 class="large">Live Teaching</h2>
  
  <p><strong>Description:</strong>
    <cite>Various times of live messages and Bible Q&amp;A.
    Sunday mornings Eastern/US time, the <em>Bible Teaching</em> section below is
    also broadcasting live.
    </cite></p>
  <p><strong>MP3 Stream:</strong>
    <cite>Medium bandwidth 64 Kbps stream<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/live.mp3.m3u">http://audiocast.ebiblefellowship.com:8008/live.mp3.m3u</a></cite></p>

</div>
<div class="contentbar-bottom"></div>

<div class="contentbar-top"></div>
<div class="contentbar-mid">

  <h2 class="large">Bible Teaching and Music</h2>
  
  <p><strong>Description:</strong>
    <cite>Various times of live messages and Bible Q&amp;A.  Prerecorded
    messages from our web site and music are
    played into the room at other times.</cite></p>
  <p><strong>PalTalk Category:</strong>
    <cite>Religion and Theology, Christianity</cite></p>

  <p><strong>PalTalk Room Name:</strong>
    <cite>EBible Fellowship</cite></p>
  <p><strong>Hours of programming:</strong>
    <cite>Open 24 hours, 7 days a week (as PalTalk allows).
    Please see our <a href="../live/">live schedule</a>.
    Prerecorded messages and music are broadcast at other times.</cite></p>
  <p><strong>Room Information and Status:</strong>

     <a href="http://chat.paltalk.com/pg/ControllerServlet?RequestId=Groups.RoomInfo&amp;room=EBible%20Fellowship&amp;gid=1410999" target="paltalk">View</a></p>
  <!--<p><strong>Access Room:</strong>
     <a href="http://chat.paltalk.com/pg/wcland.jsp?eid=181833255043947742398638139557215903" target="paltalk">Click to enter room</a> (requires Internet Explorer).</p> -->
  <p><strong>MP3 Stream:</strong>
    <cite>Low bandwidth 24 Kbps stream suitable for dial-up users.<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/teaching-low.mp3.m3u">http://audiocast.ebiblefellowship.com:8008/teaching-low.mp3.m3u</a></cite></p>
  <p id="phone_broadcast"><strong>Ogg Vorbis Stream:</strong>

    <cite>Very low bandwidth 10-16 Kbps stream suitable for dial-up users.<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/teaching-low.ogg.m3u">http://audiocast.ebiblefellowship.com:8008/teaching-low.ogg.m3u</a></cite>
     <img src="<%= images_url %>/play_ogg_small.png" width="80" height="27" alt="Play Ogg Logo" title="Play Ogg Logo" style="vertical-align: top" /></p>
  <p><strong>Ogg Vorbis Stream:</strong>
    <cite>Medium bandwidth 50 Kbps stream suitable for broadband users.<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/teaching.ogg.m3u">http://audiocast.ebiblefellowship.com:8008/teaching.ogg.m3u</a></cite>

     <img src="<%= images_url %>/play_ogg_small.png" width="80" height="27" alt="Play Ogg Logo" title="Play Ogg Logo" style="vertical-align: top" /></p>
 
  </div>
<div class="contentbar-bottom"></div>


<div class="contentbar-top"></div>
<div class="contentbar-mid">
  <h2 class="large">Bible Reading from the KJV</h2>
  <p><strong>Description:</strong>
    <cite>Our recordings of the King James version of the Bible are
    read into the room. <a href="../../bible_reading/">Learn more</a>
    about these readings.</cite></p>
  <p><strong>PalTalk Category:</strong>
    <cite>Religion and Theology, Christianity</cite></p>
  <p><strong>PalTalk Room Name:</strong>

    <cite>EBible Reading Fellowship</cite></p>
  <p><strong>Hours of programming:</strong>
    <cite>Open 24 hours, 7 days a week (as PalTalk allows) for listening only.</cite></p>
  <p><strong>Room Information and Status:</strong>
     <a href="http://chat.paltalk.com/pg/ControllerServlet?RequestId=Groups.RoomInfo&amp;room=EBible%20Reading%20Fellowship&amp;gid=25227" target="paltalk">View</a></p>
  <p><strong>MP3 Stream:</strong>

    <cite>Low bandwidth 32 Kbps stream suitable for dial-up users.<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/bible-low.mp3.m3u">http://audiocast.ebiblefellowship.com:8008/bible-low.mp3.m3u</a></cite></p>
  <!-- <p><strong>Access Room:</strong>
    <a href="http://chat.paltalk.com/pg/wcland.jsp?eid=18256145371968744613860282569276" target="paltalk">Click to enter room</a> (requires Internet Explorer).</p> -->
<!--
  <p><strong>Ogg Vorbis Stream:</strong>
    <cite>Low bandwidth 24 Kbps stream suitable for dial-up users.<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/bible-low.ogg.m3u">http://audiocast.ebiblefellowship.com:8008/bible-low.ogg.m3u</a></cite></p>
  <p><strong>MP3 Stream:</strong>
    <cite>None.</cite></p>
 -->
 
</div>
<div class="contentbar-bottom"></div>
                
<!--
<div class="broadcast">
  <h2>Biblical Christian Music</h2>
  <p><strong>Description:</strong>
    <cite>A variety of Biblically based music is played.  In some
    cases, this music is in the public domain or we otherwise have
    permission to make it available on our
    <a href="/music/index.html">web site</a>.  In other cases,
    the music is copyrighted but we have obtained appropriate
    permissions to play it.</cite></p>
  <p><strong>PalTalk Category:</strong>
    <cite>Christianity</cite></p>
  <p><strong>PalTalk Room Name:</strong>
    <cite>EBible Music Fellowship</cite></p>
  <p><strong>Hours of programming:</strong>
    <cite>Open 24 hours, 7 days a week for listening only.</cite></p>
  <p><strong>MP3 Stream:</strong>
    <cite>High bandwidth 96 Kbps stream suitable for broadband (cable/DSL) users (dial-up users please use PalTalk).<br />
     <a href="http://audiocast.ebiblefellowship.com:8008/listen.pls">http://audiocast.ebiblefellowship.com:8008/listen.pls</a></cite></p>
</div>
 -->

<h2>Disclaimer</h2>

<p class="disclaimer">Although we are very grateful to
the Lord for providing PalTalk as a means of us sharing the gospel live
over the internet, we as a ministry do not endorse the PalTalk web site;
nor do we recommend any room on PalTalk other than any rooms
that <em>EBible Fellowship</em> itself opens up.</p>
