# See http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
# nanoc generated output
output
# nanoc temporary files
tmp
# nanoc compilation log
nanoc_compile.log
# sass temporary files
.sass-cache
# vi/vim temp files
.*.swp
# other
content/stylesheets
_3rdparty
*_save*
# ignore media files
*.mp3
*.ra
*.swf
