# See http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
# nanoc configuration - would rather not ignore this but due to the different configurations
# for sandbox, staging and live is necessary.
config.yaml
# nanoc generated output
output
# nanoc temporary files
tmp
# nanoc compilation log
nanoc_compile.log
# sass temporary files
.sass-cache
# bundler configuration
.bundle
# vi/vim temp files
.*.swp
# other
content/stylesheets
_3rdparty
*_save*
Thumbs.db
# ignore media files
*.mp3
*.ra
