---
title: Fourth Sundays Day in the Word
slug: fourth-sundays-day-in-the-word
kind: article
created_at: "2012-09-22 12:21"
description: |
  Starting Sunday, September 23, 2012 EBible Fellowship will be hosting a
  &ldquo;Day in the Word&rdquo; each fourth Sunday of the month.  There will 
  be two Bible studies and one Q&amp;A session.
---
%div{:itemscope => "", :itemtype => "http://schema.org/Event"}
  %meta{:content => @item[:title], :itemprop => "name"}/

  %h2 Event Overview
  %p(itemprop="description")
    Starting Sunday, September 23, 2012 <em>EBible Fellowship</em> will be hosting a
    &ldquo;Day in the Word&rdquo; each fourth Sunday of the month.  There will be two Bible 
    studies and one Q&amp;A session.

  %h2 Time
  %meta{:content => "2012-09-23T10:30-0400", :itemprop => "startDate"}/
  %meta{:content => "2012-09-23T15:00-0400", :itemprop => "endDate"}/
  %p 10:30 AM to 3 PM ET with a break for lunch

  %h2 Location
  %p{:itemprop => "location", :itemscope => "", :itemtype => "http://schema.org/Place"}
    %span{:itemprop => "name"} eBible Fellowship at P.A.C.E. Union Hall
    %span{:itemprop => "address", :itemscope => "", :itemtype => "http://schema.org/PostalAddress"}
      %br
      <span itemprop="description">Address for driving directions:</span>
      <span itemprop="streetAddress">1510 Palmer Drive</span>,
      <span itemprop="addressLocality">Linwood</span>,
      <span itemprop="addressRegion">PA</span>,
      <span itemprop="addressCountry">USA</span>
      %br
      This is where <em>EBible Fellowship</em> has met in the past.  See these
      %a{:href => "/join/live/directions/", :itemprop => "url"} Directions

  %h2 Speakers
  %p
    %span(itemprop="performer" itemscope="" itemtype="http://schema.org/Person")
      <span itemprop="name">Chris McCann</span> and
      <span itemprop="name">Robert Daniels</span>

  %h2 Schedule
  %ul
    %li
      %p(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
        %meta(itemprop="startDate" content="10:30")
        %strong 10:30 AM
        \- 
        %span(itemprop="name") Scripture reading and hymn sing
    %li
      %p(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
        %meta(itemprop="startDate" content="11:00")
        %strong 11:00 AM
        \-
        %span(itemprop="name") First Bible Study
    %li
      %p(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
        %meta(itemprop="startDate" content="12:00")
        %strong 12:00 PM
        \- 
        %span(itemprop="name") Questions and Answers
    %li
      %p(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
        %meta(itemprop="startDate" content="12:45")
        %strong 12:45 PM
        \-
        %span(itemprop="name") Lunch
    %li
      %p(itemprop="subEvent" itemscope="" itemtype="http://schema.org/Event")
        %meta(itemprop="startDate" content="14:00")
        %strong 2:00 PM
        \-
        %span(itemprop="name") Second Bible Study
  %p
    %em Note:
    Times are approximate.

  %h2 Listening Online and by Phone, etc.
  %p If not attending in person, it should be possible to listen in the following ways:
  %ul
    %li
      %p
        Paltalk and web streams
        %a{:href => "/join/broadcasts/"} Broadcasts, Live
    %li
      %p
        Phone/Skype conference
        %a{:href => "/join/phone/"} Broadcasts, Phone Information
    %li
      %p
        During the Questions and Answers segment, questions will be taken in-person, or
        via text on Paltalk.

  %h2 Recordings
  %p Recordings of the studies and Questions &amp; Answers will be made and posted on the web site.
