    <!-- Begin Billboard Panel -->
            
      <div id="billboard-sprite-wrap">
        <ul class="billboard-sprite">
          <li id="back-button"><a href="#" title="Previous"></a></li>
          <li id="play-button"><a href="#" title="Play"></a></li>
          <li id="pause-button"><a href="#" title="Pause"></a></li>          
          <li id="forward-button"><a href="#" title="Next"></a></li>          
        </ul>                 
      </div>      

      <div id="tabs-wrap">
        <ul class="tabs">
          <li id="billboards"><a href="#" title="Billboards"></a></li>
          <li id="features"><a href="#" title="Features"></a></li>
          <li id="comments"><a href="#" title="Comments"></a></li>                    
        </ul>                 
      </div>      

      <span id="billboard-background"></span>      
      
      <div id="fading-list">
       <div class="billboard" id="first-billboard">
       <h1 class="top" style="padding-top: 10px;">THE END OF THE WORLD IS ALMOST HERE!</h1>               
         <div class="two-image-container">  
         <a href="http://www.ebiblefellowship.com/gallery/main.php"><img alt="Praying Man" class="three-image" title="" src="<%= images_url %>/praying_man.jpg" width="325" height="185"></a>
         </div>         
         <div class="two-image-container" style="width: 50%; margin-left: 10px;">  
          <a href="outreach/tracts/may21/"><img alt="" style="margin: 10px 15px 0 15px" src="<%= images_url %>/May21_tract.jpg"></a>
          <a href="http://www.familyradio.com/graphical/literature/judgment/judgment.html"><img style="margin: 10px 15px 0 15px" src="<%= images_url %>/Judgment_Day_tn.jpg" alt="Judgment Day Tract" width="104" height="161"></a>
          <a href="outreach/tracts/wecanknow/"><img alt="" style="margin: 10px 15px 0 15px" src="<%= images_url %>/WeCanKnow_tract.jpg"></a>
          <h3 class="project">Learn more by viewing the literature above</h3>
         </div>
       </div>
     </div> <!--#fading-list -->
