    <!-- Begin Billboard Panel -->
            
      <div id="billboard-sprite-wrap">
        <ul class="billboard-sprite">
          <li id="back-button"><a href="#" title="Previous"></a></li>
          <li id="play-button"><a href="#" title="Play"></a></li>
          <li id="pause-button"><a href="#" title="Pause"></a></li>          
          <li id="forward-button"><a href="#" title="Next"></a></li>          
        </ul>                 
      </div>      

      <div id="tabs-wrap">
        <ul class="tabs">
          <li id="billboards"><a href="#" title="Billboards"></a></li>
          <li id="features"><a href="#" title="Features"></a></li>
          <li id="comments"><a href="#" title="Comments"></a></li>                    
        </ul>                 
      </div>      

      <span id="billboard-background"></span>      
      
      <div id="fading-list">
       <div class="billboard" id="first-billboard">
       <h1 class="top">EBible's Project Caravan &#38; Project Jonah</h1>               
         <div class="two-image-container">  
          <a href="outreach/caravan/"><img alt="Project Caravan RVs" class="three-image" title="Go to EBible's Project Caravan page" src="<%= images_url %>/caravan_04.jpg"></a>
          <h3 class="project"><a href="outreach/caravan/">Would you like to join the caravan team?</a></h3><br>
            <p style="margin-top: -15px;"><a style="color: #FFFFFF; text-decoration: underline;" href="outreach/caravan/schedule/">Caravan Schedule</a></p></div>
         <div class="two-image-container">  
          <a href="outreach/jonah/"><img alt="Passing out tracts" class="three-image" title="Go to EBible's Project Jonah page" src="<%= images_url %>/jonah_01.jpg"></a>
          <h3 class="project"><a href="outreach/jonah/">Be like Jonah!<br>And go warn the world of May 21, 2011!</a></h3></div>
       </div>
     </div> <!--#fading-list -->
