    <!-- Begin Billboard Panel -->
            
      <div id="billboard-sprite-wrap">
        <ul class="billboard-sprite">
          <li id="back-button"><a href="#" title="Previous"></a></li>
          <li id="play-button"><a href="#" title="Play"></a></li>
          <li id="pause-button"><a href="#" title="Pause"></a></li>          
          <li id="forward-button"><a href="#" title="Next"></a></li>          
        </ul>                 
      </div>      

      <div id="tabs-wrap">
        <ul class="tabs">
          <li id="billboards"><a href="#" title="Billboards"></a></li>
          <li id="features"><a href="#" title="Features"></a></li>
          <li id="comments"><a href="#" title="Comments"></a></li>                    
        </ul>                 
      </div>      

      <span id="billboard-background"></span>      
      
      <div id="fading-list">
      <div class="billboard" id="first-billboard">
       <h1 class="top">Judgment Day! Billboards - A Worldwide Endeavor</h1>         
         <div id="africa-sprite">
         <h2>Africa</h2>  
           <ul class="billboard-flags">        
             <li id="botswana">
               <p><a href="gallery/v/botswana_billboards/">Botswana</a></p>
             </li>
             <li id="ethiopia">
               <p><a href="gallery/v/ethiopia_billboard/">Ethiopia</a></p>
             </li>
             <li id="ghana">
               <p><a href="gallery/v/ghana_new_billboards/">Ghana</a></p>
             </li>
             <li id="lesotho">
               <p><a href="gallery/v/lesotho_billboard/">Lesotho</a></p>
             </li>
             <li id="mozambique">
               <p><a href="gallery/v/mozambique_billboard/">Mozambique</a></p>
             </li>
           </ul>
           <ul class="billboard-flags">
             <li id="namibia">
               <p><a href="gallery/v/namibia_billboards/">Namibia</a></p>
             </li>
             <li id="nigeria">
               <p><a href="gallery/v/nigeria_billboards/">Nigeria</a></p>
             </li>
             <li id="swaziland">
               <p><a href="gallery/v/swaziland_billboards/">Swaziland</a></p>
             </li>
             <li id="tanzania">
               <p><a href="gallery/v/tanzania_billboards/">Tanzania</a></p>
             </li>
             <li id="zambia">
               <p><a href="gallery/v/zambia_billboards/">Zambia</a></p>
             </li>
           </ul> 
         </div>
         
         <div id="americas-sprite">
         <h2>The Americas</h2>  
           <ul class="billboard-flags">        
             <li id="canada">
               <p><a href="outreach/map/">Canada</a></p>
             </li>
             <li id="costa-rica">
               <p><a href="gallery/v/costa_rica_billboards/">Costa Rica</a></p>
             </li>
             <li id="dominican-republic">
               <p><a href="gallery/v/dominican_republic_billboard/">Dominican<br>Republic</a></p>
             </li>
             <li id="el-salvador">
               <p><a href="gallery/v/el_salvador_billboards/">El Salvador</a></p>
             </li>
             <li id="guatemala">
               <p><a href="gallery/v/guatemala_billboards/">Guatemala</a></p>
             </li>
             <li id="honduras">
               <p><a href="gallery/v/honduras_billboards/">Honduras</a></p>
             </li>
           </ul>
           <ul class="billboard-flags">  
             <li id="jamaica">
               <p><a href="gallery/v/jamaica_billboards/">Jamaica</a></p>
             </li>
             <li id="nicaragua">
               <p><a href="gallery/v/nicaragua_billboards/">Nicaragua</a></p>
             </li>
             <li id="panama">
               <p><a href="gallery/v/panama_billboards/">Panama</a></p>
             </li>
             <li id="puerto-rico">
               <p><a href="gallery/v/puerto_rico_billboards/">Puerto Rico</a></p>
             </li>                          
             <li id="usa">
               <p><a href="gallery/v/roanoke_virginia_billboard/">USA</a></p>
             </li>
           </ul> 
         </div>
         
         <div id="asia-sprite">
         <h2>Asia</h2>  
           <ul class="billboard-flags">        
             <li id="india">
               <p><a href="gallery/v/india_billboards/">India</a></p>
             </li>
             <li id="singapore">
               <p><a href="gallery/v/singapore_billboards/">Singapore</a></p>
             </li>
           </ul> 
           <ul class="billboard-flags">
             <li id="taiwan">
               <p><a href="gallery/v/taiwan_billboards/">Taiwan</a></p>
             </li>
             <li id="turkey">
               <p><a href="gallery/v/turkey_billboards/">Turkey</a></p>
             </li>
           </ul> 
         </div>
         
         <div id="oceania-sprite">
         <h2>Oceania</h2>  
           <ul class="billboard-flags">        
             <li id="indonesia">
               <p><a href="gallery/v/indonesia_billboards/">Indonesia</a></p>
             </li>
             <li id="samoa">
               <p><a href="gallery/v/samoa_billboards/">Samoa</a></p>
             </li>
           </ul> 
           <ul class="billboard-flags">
             <li id="vanuatu">
               <p><a href="gallery/v/vanuatu_billboard/">Vanuatu</a></p>
             </li>
          </ul> 
        </div>         
      </div>
      </div>
