  <!--Begin Languages-->
 
  <div class="grey-gradient">
    <!--<div id="langs">-->
      <!-- <ul class="language-sprite">
        <li id="language-back"><a href="#" title="Previous"></a></li>     
      </ul>
      <ul class="language-sprite">
        <li id="language-forward"><a href="#" title="Next"></a></li>     
      </ul> -->            
      <div id="languages">
      <!-- When adding a new language, use the standard ISO 639 codes available at http://www.loc.gov/standards/iso639-2/langcodes.html -->
       
    <!-- <div id="lang-display"></div>
    <div class="lang" id="first-lang"> -->
      <p style="padding-left: 0;"><a href="/af/" title="Afrikaans&mdash;South Africa" hreflang="af">Afrikaans</a></p><p class="delim">&middot;</p>
      <p style="font-size:110%;"><a href="/ar/" title="Arabic" hreflang="ar"><font>&#x0627;&#x0644;&#x0639;&#x0631;&#x0628;&#x064A;&#x0629;&nbsp;</font></a></p><p class="delim">&middot;</p>
      <p style="font-size:110%;"><a href="/bn/" title="Bengali" hreflang="bn"><font>&#2476;&#2494;&#2434;&#2482;&#2494;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/de/" title="German" hreflang="de"><font>Deutsch</font></a></p><p class="delim">&middot;</p>
      <p><a href="/es/" title="Spanish" hreflang="es"><font>Espa&ntilde;ol</font></a></p><p class="delim">&middot;</p>
      <p style="font-size:110%;"><a href="/fa/" title="F&#x0101;rsi/Persian" hreflang="fa"><font>&#x0641;&#x0627;&#x0631;&#x0633;&#1740;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/fr/" title="French" hreflang="fr"><font>Fran&ccedil;ais</font></a></p><p class="delim">&middot;</p>
      <p><a href="/hi/" title="Hindi" hreflang="hi"><font>&#x0939;&#x093F;&#x0928;&#x094D;&#x200D;&#x0926;&#x0940;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/hmn/" title="Hmong" hreflang="hmn"><font>Hmoob</font></a></p><p class="delim">&middot;</p>
    <!--</div>
    <div class="lang">-->  
      <p style="padding-left: 0;"><a href="/ht/" title="Haitian Creole" hreflang="ht"><font>Kreyol</font></a></p><p class="delim">&middot;</p>
      <p><a href="/id/" title="Bhasa Indonesia" hreflang="id"><font>Indonesian</font></a></p><p class="delim">&middot;</p>
      <p><a href="/it/" title="Italian" hreflang="it"><font>Italiano</font></a></p><p class="delim">&middot;</p>
      <p><a href="/ja/" title="Japanese" hreflang="ja"><font>&#x65E5;&#x672C;&#x8A9E;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/sw/" title="Swahili" hreflang="sw"><font>Kiswahili</font></a></p><p class="delim">&middot;</p>
      <p><a href="/ko/" title="Korean" hreflang="ko"><font>&#xD55C;&#xAD6D;&#xC5B4;</font></a></p><p class="delim">&middot;</p>
      <!-- <font><p><a href="isthechurchdead/index.nl.html" title="Dutch" hreflang="nl">Nederlands</a></p></font> -->
      <p style="font-size:120%;"><a href="/pa/" title="Punjabi (Pakistan)" hreflang="pa"><font>&#x067E;&#x0646;&#x062C;&#x0627;&#x0628;&#1740;</font></a></p><p class="delim">&middot;</p>  
      <p><a href="/pl/" title="Polish" hreflang="pl"><font>Polski</font></a></p><p class="delim">&middot;</p>
      <p><a href="/pt/" title="Portuguese" hreflang="pt"><font>Portugu&ecirc;s</font></a></p><p class="delim">&middot;</p> 
    <!--</div>
    <div class="lang">-->  
      <p style="padding-left: 0;"><a href="/ro/" title="Romanian" hreflang="ro"><font>Rom&acirc;n&#259;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/ru/" title="Russian" hreflang="ru"><font>&#x0420;&#x0443;&#x0441;&#x0441;&#x043A;&#x0438;&#x0439;&nbsp;(Russkij)</font></a></p><p class="delim">&middot;</p>
      <p><a href="/tl/" title="Tagalog" hreflang="tl"><font>Tagalog</font></a></p><p class="delim">&middot;</p>
      <p><a href="/th/" title="Thai" hreflang="th"><font>&#x0E44;&#x0E17;&#x0E22;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/tr/" title="Turkish" hreflang="tr"><font>T&uuml;rk&ccedil;e</font></a></p><p class="delim">&middot;</p>
      <p style="font-size:120%;"><a href="/ur/" title="Urdu" hreflang="ur"><font>&#x0627;&#x0631;&#x062F;&#x0648;&nbsp;</font></a></p><p class="delim">&middot;</p>
      <p><a href="/vi/" title="Vietnamese" hreflang="vi"><font>Ti&#7871;ng Vi&#7879;t</font></a></p><p class="delim">&middot;</p>
<p><a href="/xh/" title="Xhosa" hreflang="xh"><font>isiXhosa</font></a></p><p class="delim">&middot;</p> 	  
      <p><a href="/zh/" title="Chinese" hreflang="zh"><font>&#x4E2D;&#x6587;</font></a></p>  
    <!-- </div> -->      
      </div><!--#languages-->
      <!--</div>#langs-->
   </div><!--#grey-gradient-->
 
<!--End Languages-->
