<%
 # partial: _media_bar
 # usage: render('_media_bar', :item => item, :list => {true|false}, :show_media => {true|false}
%>
<% if not list %>
      <div class="contentbar-top"></div>
      <div class="contentbar-mid">
<% end %>
      <div class="media-bar">
<% if not defined?(show_media) or show_media %>
        <ul class="media-sprite">
          <% if item[:audio] %><li class="hphones"><a href="<%= m3u_url(item[:audio][:url]) %>" title="Listen"></a></li>
          <li class="download"><a href="<%= mp3_stats_url(item[:audio][:url]) %>" title="Download"></a></li>
          <% end %><% if list and item.raw_content.length > 40 %><li class="transcript"><a href="<%= item.path %>" title="Transcript"></a></li><% end %>
          <% if item[:video] %><li class="video"><% if item[:video][:url] %><a href="<%= item[:video][:url] %>" title="Video"></a><% end %></li><% end %>
        </ul>
<% end %>
        <h2><%= list ? link_to(item[:title], item.path) : item[:title] %></h2>
        <ul>
          <li><time class="timeago" datetime="<%= item[:created_at].getutc.iso8601 %>"><%= item[:created_at].strftime('%-d-%b-%Y') %></time> | <%= item[:speaker] %></li>
          <% if item[:text] %><li><%= item[:text] %></li><% end %>
          <% if item[:audio] %><li>Audio: Length: <%= item[:audio][:length] %> Size: <%= item[:audio][:size] %></li><% end %>
          <% if item[:video] and not list and item[:video][:embed] %><li><div class="video-embed"><%= item[:video][:embed] %></div></li><% end %>
          <% if item[:description] %><li><%= item[:description] %></li><% end %>
          <% if item[:excerpt] %><li><%= item[:excerpt] %></li><% end %>
        </ul>
      </div>
<% if not list %>
      </div>
      <div class="contentbar-bottom"></div>
<% end %>
