
<%
 # partial: _menu
 submenu = false
%>
        <ul>
          <li class="join"><%= link_to('Join', '/join/') %></li>
          <li class="studies"><%= link_to('Studies', '/studies/') %></a>
<% if submenu %>
            <dl>
              <dt><%= link_to('Sunday Messages', '/studies/bc2/') %></dt>
              <dd>Messages given Sunday mornings the <br>
                  second hour at Delco Bible Fellowship</dd>
              <dt><%= link_to('Sunday Studies', '/studies/bc1/') %></dt>
              <dd>Studies given Sunday mornings the <br>
                  first hour at Delco Bible Fellowship</dd>
            </dl>
<% end %>
          </li>
          <li class="vids"><%= link_to('Videos', '/videos/') %></li>
          <li class="questions"><%= link_to('Questions', '/questions/') %></li>
          <li class="outreach"><%= link_to('Outreach', '/outreach/') %></li>
          <li class="bible"><%= link_to('Bible', '/bible_reading/') %></li>
          <li class="free"><%= link_to('Free', '/free/') %>
<% if submenu %>
            <dl>
              <dt><a href="#">Free Bible Request Form</a></dt>
              <dd>Request a free Bible to have a copy of <br>
                  God&rsquo;s Word for yourself.</dd>
              <dt><%= link_to('Free CD Request Form', '/free_cd/') %></dt>
              <dd>Request a free MP3 or audio CD containing <br>
                  various Biblical teachings and other material.</dd>
              <dt><%= link_to('Free Tracts Request Form', '/free_tracts/') %></dt>
              <dd>Request free tracts to distribute to people <br>
                  in your area.</dd>
            </dl>
<% end %>
          </li>
        </ul>
