
<%
 # partial: _social_bar
 # usage: render('_social_bar')
%>
    <div id="social-container">
      <div class="follow-links">
        <a href="http://facebook.com/ebiblefellowship" target="_new" title="Visit EBible Fellowship Facebook page"><img alt="" src="<%= images_url %>/social/facebook.png" style="border-style: none"></a>
        <a href="http://twitter.com/EBibleFellows" target="_new" title="Follow EBible Fellowship on Twitter"><img alt="" src="<%= images_url %>/social/twitter.png" style="border-style: none"></a>
        <a href="https://plus.google.com/101103841900584016885?prsrc=3" style="text-decoration:none;"><img src="<%= images_url %>/social/google-plus.png" alt="" style="border-style: none" title="Visit eBible Fellowship Google+ page"></a>
        <a href="<%= base_url %>/rss.xml" target="_new" title="Subscribe to our RSS feed"><img alt="" src="<%= images_url %>/social/rss.png" style="border-style: none"></a>
        <a href="http://feedburner.google.com/fb/a/mailverify?uri=EBibleFellowshipNews" target="_new" title="Subscribe to our RSS feed via email"><img alt="" src="<%= images_url %>/social/email.png" style="border-style: none"></a>
        <a href="http://www.youtube.com/user/ebiblefellowship1" target="_new" title="Visit EBible Fellowship on YouTube"><img alt="" src="<%= images_url %>/social/youtube.png" style="border-style: none"></a>
        <a href="http://groups.yahoo.com/group/TimeandJudgment_May212011/" target="_new" title="Yahoo discussion group, &quot;Discerning Time and Judgment: May 21, 2011&quot;"><img alt="" src="<%= images_url %>/social/yahoo.png" style="border-style: none"></a>
      </div>
      <div class="share-links">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_sharing_toolbox"></div>
        <!-- AddThis Button END -->
      </div>
    </div>
