
<%
 # partial: _twitter_bar
 # usage: render('_twitter_bar')
%>
      <div class="twitter-rss">
        <a href="http://twitter.com/EBibleFellowshp" target="_new" title="Follow EBible Fellowship on Twitter"><img alt="" src="<%= images_url %>/twitter.png" style="border-style: none"></a>
        <a href="http://facebook.com/timeandjudgment" target="_new" title="EBible Fellowship is on Facebook"><img alt="" src="<%= images_url %>/facebook-icon.png" style="border-style: none"></a>

        <a href="<%= base_url %>/rss.xml" target="_new" title="Subscribe to our RSS feed"><img alt="" src="<%= images_url %>/rss-icon.png" style="border-style: none"></a>
        <span>&nbsp;&nbsp;</span>
        <!-- AddThis Button BEGIN -->
        <a class="addthis_button" style="position: relative; bottom: 9px" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4b7df40f6e87cc94"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"></a>
        <!-- AddThis Button END -->
      </div>

