
<%
 # partial: _twitter_bar
 # usage: render('_twitter_bar')
%>
    <div id="follow-share-container">
      <div class="twitter-rss">
        <a href="http://twitter.com/EBibleFellowshp" target="_new" title="Follow EBible Fellowship on Twitter"><img alt="" src="<%= images_url %>/twitter.png" style="border-style: none"></a>
        <a href="<%= base_url %>/rss.xml" target="_new" title="Subscribe to our RSS feed"><img alt="" src="<%= images_url %>/rss-icon.png" style="border-style: none"></a>
      </div>
<% if false %>
        <a href="/songs/"><img style="padding-left: 25px; border-style: none;" alt="" src="<%= images_url %>/music_icon.png"></a>
        <a style="font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; font-size: 85%; padding-left: 2px; position: relative; bottom: 10px;" href="/songs/" title="O Come May 21">Judgment Day song</a>        
        <a href="/misc/"><img style="padding-left: 15px; border-style: none;" alt="" src="<%= images_url %>/music_icon.png"></a>
        <a style="font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif; font-size: 85%; padding-left: 2px; position: relative; bottom: 10px;" href="/misc/" title="May 21 Radio Spot">May 21 Radio Spot</a>        
<% end %>
      <div class="share-links">
		<!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
          <a class="addthis_button_preferred_1"></a>
          <a class="addthis_button_preferred_2"></a>
          <a class="addthis_button_preferred_3"></a>
          <a class="addthis_button_preferred_4"></a>
          <a class="addthis_button_compact"></a>
          <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <!-- AddThis Button END -->
      </div>
    </div>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4b7df40f6e87cc94"></script>
