/* Feature photos for billboards, comments, etc. */
.billboard {
  width: 834px;
  height: 272px;
  margin-left: 10px; 
  padding: 15px 20px 0 20px;
  display: none;  
  opacity: 1;
  filter: alpha(opacity=100);  
}

#billboard-background {  
  border-left: 1px solid #003366;
  border-right: 1px solid #003366;
  background: url("<%= images_url %>/billboard_bground.jpg") repeat-x;
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: absolute;
  margin-left: 10px;
  height: 287px;
  width: 874px;  
}

#first-billboard {
  display: block;
  position: relative;  
}

.three-image-container {
  float: left;
  width: 31%;
  margin: -3px 15px 0 0;
}

.billboard img {
  border: 2px solid white;
  margin-right: 15px; 
  margin-left: 20px; 
  float: left; 
}

.billboard img.ribbon {
  border: none;
  margin-top: -211px;
  margin-left: 13px;
}

.billboard img:hover.ribbon {
  border: none;
}

.billboard img.flag {
  border:none;
  float: none;
  vertical-align: middle; 
}

.billboard img:hover.flag {
  border:none; 
}

.billboard img:hover {
  border: 2px solid #006699;
}

.billboard img.three-image {
  margin: 0px 0 3px 20px;   
}

.billboard h1 { 
  color: #dacdb0;
  text-align: center; 
  margin: 70px 0 20px 5px; 
}

.billboard h1.comments {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  margin-top: 30px;
}

.billboard h1.top {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  margin-top: 0;
  margin-bottom: 15px;
}

.billboard h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: white;
  margin: 0 25px 0 25px;  
}  

.billboard h3.location {
  font-weight: bold;
  margin: 10px 30px 0 0;
  text-align: right;
}  

.billboard p { 
  color: white; 
  margin: 0; 
  text-align: center 
}

.billboard h3.left { 
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-weight: normal;
  color: #dacdb0;
  margin: 0 0 0 20px;
  text-align: center;
}

.billboard a {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  text-decoration: none;
  color: #dACDB0;   
}

.billboard a:hover {
  text-decoration: underline;
  color: #dACDB0;
}

.billboard ul {
  text-align: left; 
}

.billboard li {
  list-style: none;
  font-size: 12pt; 
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: #dACDB0;
  display: inline;
  padding-left: 15px;  
}

.billboard li a {
  text-decoration: none;
  color: #dACDB0;   
}

.billboard li a:hover {
  text-decoration: underline;
  color: #dACDB0;
}

/* Vertical Tabs Sprite */
div#tabs-wrap {
  position: absolute;
  top: 165px;
  z-index: 100;
  display: none;
}

.tabs {
  position: relative;
  background: url(<%= images_url %>/billboard_tabs.png) no-repeat;
  margin-left: 11px;
  list-style: none;
}

.tabs li a { 
  position: absolute;
  height: 75px;
  width: 22px; 
  background: url(<%= images_url %>/billboard_tabs.png) no-repeat;
}

li#features a {
  top: 75px;
  left: 0;
  background-position: -7px -2px;
}

li#comments a {
  top: -2px;
  left: 0;
  height: 78px;
  background-position: -7px -75px;
}  

li#billboards a {
  top: 150px;
  left: 0;
  background-position: -7px -152px;
}

li#features a:hover {
  background-position: -32px -2px;
}

li#comments a:hover {
  background-position: -32px -75px;
}  

li#billboards a:hover {
  background-position: -32px -152px;
}

/* Control Box Sprite */
div#billboard-sprite-wrap {
  position: absolute;
  top: 405px;
  margin-left: 90px;
  z-index: 100;
  display: none;
}

.billboard-sprite {
  position: relative;
  background: url(<%= images_url %>/billboard_sprite.png) no-repeat;
  margin: -247px 0 0 715px;
}

.billboard-sprite li a { 
  position: absolute;
  height: 22px;
  background: url(<%= images_url %>/billboard_sprite.png) no-repeat;
}

li#back-button a {
  left: 0;
  width: 21px;
  background-position: 0 -1px;
}

li#pause-button a {
  left: 26px;
  width: 22px;
  background-position: -22px -1px;
}

li#forward-button a {
  left: 52px;
  width: 21px;
  background-position: -44px -1px;
}

li#play-button a {
  left: 26px;
  width: 22px;
  background-position: -66px -1px;  
}

li#back-button a:hover {
  background-position: 0 -23px;
}

li#pause-button a:hover {
  background-position: -22px -23px;
}

li#forward-button a:hover {
  background-position: -44px -23px;
}

li#play-button a:hover {
  background-position: -66px -23px;
}

li#back-button a:active {
  background-position: 0 -45px;
}

li#forward-button a:active {
  background-position: -44px -45px;
}

/* Continents Location Bar Sprite */
.location-bar {
  margin: -15px 0 0 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.location-bar li {
  padding: 0;
  margin: 0 0 4px 0;
  width: 202px;
  height: 60px;
  float: left;
  background: transparent url(<%= images_url %>/location_bar.png) no-repeat;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */     
  zoom: 1;
}

li.africa {
  background-position: 0px 0;
}

li.africa-glow {
  background-position: 0px -58px;
}

li.americas {
  background-position: -202px 0px;
}

li.americas-glow {
  background-position: -202px -58px;
}

li.asia {
  background-position: -404px 0px;
}

li.asia-glow {
  background-position: -404px -58px;
}

li.europe {
  background-position: -606px 0px;
}

li.europe-glow {
  background-position: -606px -58px;
}

li.oceania {
  background-position: -808px 0px;
}

li.oceania-glow {
  background-position: -808px -58px;
}

/* Billboard countries/flags sprite */
.billboard-flags {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 115px;
  float: left;
}

.billboard-flags li {
  display: block;
  margin: 0 0 13px 0;
  padding: 0;
  width: 30px;
  height: 18px;
  background: url(<%= images_url %>/flags_sprite.png) no-repeat;
}

.billboard-flags p {
  padding: 3px 0 0 40px;
  white-space: nowrap;
  color: #dacdb0;
}

#africa-sprite, #americas-sprite, #asia-sprite, #oceania-sprite {
  margin: 0px 0px 0px 40px;
  padding: 0;
  float: left;
  width: 230px;
}

#africa-sprite h2, #americas-sprite h2, #asia-sprite h2, #oceania-sprite h2 {
  text-align: left;
  margin: -8px 0 15px 0;
  color: #99ccff;
  border-bottom: 1px solid #99ccff;
}

#oceania-sprite h2 {
  margin-top: 0;
}

li#botswana {
  background-position: 0 0px;
}

li#ethiopia {
  background-position: -36px 0px;
}

li#ghana {
  background-position: -72px 0px;
}

li#lesotho {
  background-position: -108px 0px;
}

li#mozambique {
  background-position: -144px 0px;
}

li#namibia {
  background-position: -180px 0px;
}

li#nigeria {
  background-position: -216px 0px;
}

li#swaziland {
  background-position: -252px 0px;
}

li#tanzania {
  background-position: -288px 0px;
}

li#canada {
  background-position: 0px -27px;
}

li#costa-rica {
  background-position: -36px -27px;
}

li#dominican-republic {
  background-position: -72px -27px;
}

li#dominican-republic p {
  position: relative;
  bottom: 7px;
}

li#el-salvador {
  background-position: -108px -27px;
}

li#guatemala {
  background-position: -144px -27px;
}

li#honduras {
  background-position: -180px -27px;
}

li#jamaica {
  background-position: -216px -27px;
}

li#nicaragua {
  background-position: -252px -27px;
}

li#panama {
  background-position: -288px -27px;
}

li#puerto-rico {
  background-position: -324px -27px;
}

li#usa {
  background-position: -360px -27px;
}

li#india {
  background-position: 0px -54px;
}

li#singapore {
  background-position: -36px -54px;
}

li#taiwan {
  background-position: -72px -54px;
}

li#turkey {
  background-position: -108px -54px;
}

li#indonesia {
  background-position: 0px -81px;
}

li#samoa {
  background-position: -36px -81px;
}

li#vanuatu {
  background-position: -72px -81px;
}

