/* Feature photos for billboards, comments, etc. */
.billboard {
  width: 834px;
  height: 272px;
  margin-left: 10px; 
  padding: 15px 20px 0 20px;
  display: none;  
  opacity: 1;
  filter: alpha(opacity=100);  
}

#billboard-background {  
  border-left: 1px solid #003366;
  border-right: 1px solid #003366;
  background: url(<%= images_url %>/billboard_bground.jpg) repeat-x;
  opacity: 0.7;
  filter: alpha(opacity=70);
  position: absolute;
  margin-left: 10px;
  height: 287px;
  width: 874px;  
}

#first-billboard {
  display: block;
  position: relative;  
}

.two-image-container {
  float: left;
  width: 45%;
  margin: 5px 0 0 30px;
}

.three-image-container {
  float: left;
  width: 31%;
  margin: -3px 15px 0 0;
}

.billboard img {
  border: 2px solid white;
  margin-right: 15px; 
  margin-left: 20px; 
  float: left; 
}

.billboard img.ribbon {
  border: none;
  margin-top: -211px;
  margin-left: 13px;
}

.billboard img:hover.ribbon {
  border: none;
}

.billboard img.flag {
  border:none;
  float: none;
  vertical-align: middle; 
}

.billboard img:hover.flag {
  border:none; 
}

.billboard img:hover {
  border: 2px solid #006699;
}

.billboard img.three-image {
  margin: 0px 0 3px 20px;   
}

.billboard h1 { 
  color: #dacdb0;
  text-align: center; 
  margin: 70px 0 20px 5px; 
}

.billboard h1.comments {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  margin-top: 30px;
}

.billboard h1.top {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  margin-top: 0;
  margin-bottom: 15px;
}

.billboard h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: white;
  margin: 0 25px 0 25px;  
}  

.billboard h3.location {
  font-weight: bold;
  margin: 10px 30px 0 0;
  text-align: right;
}  

.billboard p { 
  color: white; 
  margin: 0; 
  text-align: center 
}

.billboard h3.left, .billboard h3.project { 
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-weight: normal;
  color: #dacdb0;
  margin: 0 0 0 20px;
  text-align: center;
}

.billboard h3.project { 
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  clear: both;
}

.billboard a {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  text-decoration: none;
  color: #dACDB0;   
}

.billboard a:hover {
  text-decoration: underline;
  color: #dACDB0;
}

.billboard ul {
  text-align: left; 
}

.billboard li {
  list-style: none;
  font-size: 12pt; 
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  color: #dACDB0;
  display: inline;
  padding-left: 15px;  
}

.billboard li a {
  text-decoration: none;
  color: #dACDB0;   
}

.billboard li a:hover {
  text-decoration: underline;
  color: #dACDB0;
}

/* Vertical Tabs Sprite */
div#tabs-wrap {
  position: absolute;
  top: 165px;
  z-index: 100;
  display: none;
}

.tabs {
  position: relative;
  background: url(<%= images_url %>/billboard_tabs.png) no-repeat;
  margin-left: 11px;
  list-style: none;
}

.tabs li a { 
  position: absolute;
  height: 75px;
  width: 22px; 
  background: url(<%= images_url %>/billboard_tabs.png) no-repeat;
}

li#features a {
  top: 75px;
  left: 0;
  background-position: -7px -2px;
}

li#comments a {
  top: -2px;
  left: 0;
  height: 78px;
  background-position: -7px -75px;
}  

li#billboards a {
  top: 150px;
  left: 0;
  background-position: -7px -152px;
}

li#features a:hover {
  background-position: -32px -2px;
}

li#comments a:hover {
  background-position: -32px -75px;
}  

li#billboards a:hover {
  background-position: -32px -152px;
}

/* Control Box Sprite */
div#billboard-sprite-wrap {
  position: absolute;
  top: 405px;
  margin-left: 90px;
  z-index: 100;
  display: none;
}

.billboard-sprite {
  position: relative;
  background: url(<%= images_url %>/billboard_sprite.png) no-repeat;
  margin: -247px 0 0 715px;
}

.billboard-sprite li a { 
  position: absolute;
  height: 22px;
  background: url(<%= images_url %>/billboard_sprite.png) no-repeat;
}

li#back-button a {
  left: 0;
  width: 21px;
  background-position: 0 -1px;
}

li#pause-button a {
  left: 26px;
  width: 22px;
  background-position: -22px -1px;
}

li#forward-button a {
  left: 52px;
  width: 21px;
  background-position: -44px -1px;
}

li#play-button a {
  left: 26px;
  width: 22px;
  background-position: -66px -1px;  
}

li#back-button a:hover {
  background-position: 0 -23px;
}

li#pause-button a:hover {
  background-position: -22px -23px;
}

li#forward-button a:hover {
  background-position: -44px -23px;
}

li#play-button a:hover {
  background-position: -66px -23px;
}

li#back-button a:active {
  background-position: 0 -45px;
}

li#forward-button a:active {
  background-position: -44px -45px;
}

/* Continents Location Bar Sprite */
.location-bar {
  margin: -15px 0 0 10px;
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.location-bar li {
  padding: 0;
  margin: 0 0 4px 0;
  height: 60px;
  float: left;
  background: transparent url(<%= images_url %>/location_bar.png) no-repeat;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */     
  zoom: 1;
}

li.africa {
  background-position: 0px 0px;
  width: 150px;
}

li.africa-glow {
  background-position: 0px -58px;
  width: 150px;
}

li.americas {
  background-position: -150px 0px;
  width: 185px;
}

li.americas-glow {
  background-position: -150px -58px;
  width: 185px;
}

li.asia {
  background-position: -335px 0px;
  width: 125px;
}

li.asia-glow {
  background-position: -335px -58px;
  width: 125px;
}

li.europe {
  background-position: -460px 0px;
  width: 163px;
}

li.europe-glow {
  background-position: -460px -58px;
  width: 163px;
}

li.oceania {
  background-position: -623px 0px;
  width: 155px;
}

li.oceania-glow {
  background-position: -623px -58px;
  width: 155px;
}

/* Billboard countries/flags sprite */
.billboard-flags {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 122px;
  float: left;
}

.billboard-flags li {
  display: block;
  margin: 0 0 13px 0;
  padding: 0;
  width: 21px;
  height: 13px;
  background: url(<%= images_url %>/flags_sprite.png) no-repeat;
}

.billboard-flags p {
  padding: 0 0 0 30px;
  white-space: nowrap;
  color: #dacdb0;
}

#africa-sprite, #americas-sprite, #asia-sprite, #oceania-sprite {
  margin: 0px 0px 0px 30px;
  padding: 0;
  float: left;
  width: 245px;
}

#africa-sprite h2, #americas-sprite h2, #asia-sprite h2, #oceania-sprite h2 {
  text-align: left;
  margin: -8px 0 15px 0;
  color: #99ccff;
  border-bottom: 1px solid #99ccff;
}

#oceania-sprite h2 {
  margin-top: 0;
}

/* Africa */
li#botswana {
  background-position: 0 0px;
}

li#ethiopia {
  background-position: -24px 0px;
}

li#ghana {
  background-position: -47px 0px;
}

li#lesotho {
  background-position: -70px 0px;
}

li#mozambique {
  background-position: -94px 0px;
}

li#namibia {
  background-position: -117px 0px;
}

li#nigeria {
  background-position: -141px 0px;
}

li#swaziland {
  background-position: -165px 0px;
}

li#tanzania {
  background-position: -187px 0px;
}

li#zambia {
  background-position: -211px 0px;
}

li#mauritius {
  background-position: -234px 0px;
}

li#kenya {
  background-position: -258px 0px;
}

li#uganda {
  background-position: -281px 0px;
}

li#malawi {
  background-position: -304px 0px;
}

/* Americas */
li#canada {
  background-position: 0px -17px;
}

li#costa-rica {
  background-position: -24px -17px;
}

li#dominican-republic {
  background-position: -47px -17px;
}

li#dominican-republic p {
  position: relative;
  bottom: 7px;
}

li#el-salvador {
  background-position: -70px -17px;
}

li#guatemala {
  background-position: -93px -17px;
}

li#honduras {
  background-position: -116px -17px;
}

li#jamaica {
  background-position: -140px -17px;
}

li#nicaragua {
  background-position: -164px -17px;
}

li#panama {
  background-position: -187px -17px;
}

li#puerto-rico {
  background-position: -211px -17px;
}

li#usa {
  background-position: -234px -17px;
}

li#trinidad {
  background-position: -257px -17px;
}

li#ecuador {
  background-position: -280px -17px;
}

li#chile {
  background-position: -303px -17px;
}

li#brazil {
  background-position: -326px -17px;
}

/* Asia */
li#india {
  background-position: 0px -34px;
}

li#singapore {
  background-position: -24px -34px;
}

li#taiwan {
  background-position: -47px -34px;
}

li#turkey {
  background-position: -70px -34px;
}

li#thailand {
  background-position: -93px -34px;
}

li#philippines {
  background-position: -116px -34px;
}

li#nepal {
  background-position: -139px -34px;
}

li#bangladesh {
  background-position: -162px -34px;
}

/* Oceania */
li#indonesia {
  background-position: 0px -51px;
}

li#samoa {
  background-position: -24px -51px;
}

li#vanuatu {
  background-position: -47px -51px;
}

li#new-zealand {
  background-position: -70px -51px;
}

li#papua {
  background-position: -93px -51px;
}

li#papua p {
  position: relative;
  bottom: 7px;
}

/* Europe */
li#uk {
  background-position: 0px -70px;
}

li#ireland {
  background-position: -24px -70px;
}
