/* ie6.css  (IE 6 fixes) */
#world-map, #ebible-logo  { 
  behavior: url(<%= css_url %>/resources/iepngfix.htc); 
}
#shadow-left, #shadow-right, #shadow-bottom { 
  background: none; 
}
#logo {
  margin-top: -198px;
}
#logo-home {
  margin-top: -554px;
}
#verse-home-wrap {
  display: none;
}
#header-wrap {
  background: url(<%= images_url %>/colored_bars.jpg) repeat-x left top;
}
#header-wrap-home {
  background: url(<%= images_url %>/colored_bars_home.jpg) repeat-x left top;
}
#title {
  font-size: 18pt;
}

/* menu bar fixes */
#menu {
  margin-top: 12px;
}
#menu ul {    
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  line-height: 45px;
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
  font-size: 110%;
  font-weight: bold; 
}
#menu ul li {
  zoom: 1;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  margin-right: -1px;
  *display: inline;
  *vertical-align: auto;
  white-space: nowrap;
  border: 1px solid #85A6B8;  
}
#menu ul li a {
  color: #fff; 
}

/* fading panels */
div#billboard-sprite-wrap {  
  visibility: hidden;
}
div#tabs-wrap {
  top: 182px;  
}
/* first panel */
#africa-sprite {
  margin-left: 20px;
}
#africa-sprite h2, #americas-sprite h2, #asia-sprite h2, #oceania-sprite h2 {
  margin-top: 0px;
}
.billboard li {
  list-style: disc inside none;
  vertical-align: middle;
}
.billboard-flags li {    
  background: none;
  margin-bottom: 7px;
}
.billboard-flags p {
  padding: 0px;  
}
/* billboard image panels  */
.location-bar, .ribbon, .billboard h1.top { 
  display: none; 
}
.three-image-container {  
  margin-top: 30px;  
  margin-left: 7px;
  margin-right: 10px;
}
.billboard img.three-image {
  margin: 0px 0px 3px 0px;   
}

/* news section */
#news-container {
  width: 71%;
  margin-left: 7px;
}

/* publications section */
#pubs {
  width: 100%;
}
#pubs-container {
  margin-right: 7px;
}

/* audio section */
#audio-container {  
  margin-left: 7px;
}

/* video section */
#video-container {   
  width: 35%;
}
.vimeoBadge .clip { 
  padding-left: 0px; 
  margin:0 15px 0 15px; 
}

/* study section */
#study-container {
  margin-right: 7px;
}

/* materials section */
#materials-container {
  width: 71%;  
  margin-left: 7px;
}
#materials-container .container-mid {
  border-right: none; 
  border-left: none;
}
#materials-bible {
  margin-top: 0px;  
  border-right: none; 
  border-left: none;  
}
.materials-frame { 
  margin-top: 0px;
  padding-right: 1px;  
  border-right: 1px solid #c0c0c0; 
  border-left: 1px solid #c0c0c0;
}
.mats img {  
  margin-top: 10px;
}

/* home footer section */
#footer-container { 
	margin: 20px 0 0 7px;
}
.footer-content {
	margin-left: 7px;
}
.site, .fr, .tba  {  
	width: 100%;
	margin-left: -7px;
}
.site ul, .fr ul, .tba ul {
	display: inline; 
}

/* video page */
#all-videos h2 {
  margin-bottom: 15px;
}
.plus-icon {
  height: 25px;
}