/* IE 7 fixes */

#menu {
  margin-top: 11px;
}

#menu > ul {
  line-height: 45px;
}

#menu > ul > li {
  /*height:1%; display:inline; overflow-x: hidden;*/
  zoom: 1;
  margin-right: -1px;
}

#verse-home-wrap {
  margin-top: -15px;
}

div#tabs-wrap {
  top: 180px;
}

#africa-sprite h2, #americas-sprite h2, #asia-sprite h2, #oceania-sprite h2 {
  margin-top: 0px;
}

.three-image-container {  
  margin-top: 0px;
}

#all-videos h2 {
  margin-bottom: 15px;
}
